.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
image-classification/cifar-10-batches-py
tv-script-generation/save.data-00000-of-00001

.ipynb_checkpoints/

*.gz
*.p
*.zip
*.pickle